*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60rem;
    margin: 2rem auto;
    text-align: center;
    gap: 2rem;
}

.card{
    width: 10rem;
}

.container{
    text-align: center;
}


.modals2{
  display: flex;
  justify-content:center;
  margin: 2rem;
  padding: 3rem;
  gap: 2rem;
  
}
.modals{
  width: 50rem;
  margin: 5rem auto;
  background-color: cadetblue;
  border-radius: 10px;
  box-shadow: 3px 3px 10px yellow;
}
h2{
  color: brown;
}