*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60rem;
    margin: 2rem auto;
    text-align: center;
    gap: 2rem;
}

.card{
    width: 10rem;
}

.container{
    text-align: center;
}